/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
*{ box-sizing: border-box; }
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}



/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 230px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  width: 100%;
  
}


/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

.header-container {
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
 }



.group2 {
  align-items: horizontal;
  flex-direction: column;
}

.group3 {
  text-align: left;
  }

#portfolio section p {
  font-size: 14px;
}

.portfolio-art {
  display: flex ;
}

.item2 img {
  height: 240px;
  margin-bottom: 2px;

}

.item3 img {
  height: 250px;
  margin-bottom: 10px;

}

.imPete {
  flex: 1;
    align-items: center;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
}

ul li:before {
  content: '\2022'; /* Bullet point character */
  margin-right: 0.5em; /* Adjust spacing as needed */
}


